= hidden_field_tag 'total_creditos', 0
%table.table.table-sm.responsive-table
  %tbody
    %tr.table-success
      %td
      %td{style: 'width: 65%;text-align:right;'} Total a Inscribir:
      %td
        %b.text-right#totalCreditosNumero{style: 'width: 5%'} 0
      %td{style: 'width: 30%'}= "Créditos de #{@limiteCreditos} permitidos"