="Estimad#{@genero} #{@nombre}"


- if @ratifiacadas.any?
	A continuación le enviamos el resumen de las asignaturas ratificadas para el periodo indicado:

	- @ratifiacadas.each do |insc| 
		%b= insc.seccion.descripcion

Gracias por su colaboración

Dpto. de Control de Estudios - FHE.

Ante cualquier duda o inconveniente favor contactarnos por controlestfheucv@gmail.com